<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gangadhar</title>
</head>
<body>
    <h1>{{3*5}}</h1>
    <h1> Random Number : {{Num}}</h1>
    <hr>
    <h2>Hey {{y_name}},</h2>
    <h2>I think you are {{y_gen}}</h2>
    <h3>And maybe you are {{p_age}} years old</h3>


    <br>
    <br>

</body>
<footer><h3>"Copyright :©1997-{{c_year}}" GKSK®. All other trademarks and brand names are the property of their respective owners.</h3></footer>
</html>